@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online Certification Exams Result Portal</h1>
    <p>Find certificate enrollment price, students details and cerificate result here.</p>
</div>
